

.optionBar {
	text-align: right;
	margin-top: 15px;
}

.optionBar a{	
	margin-right:50px;
	display: inline-block;
    font-size: 13pt;
	font-weight: bold;
}

.optionBar a:link{
	text-decoration: none;	
}

header img {
	width: 100%;
	height: 300px;
}
span {
	font-weight: bold;
}
.homeButton {
	text-align: center;
	padding-top:10px;
}

.homeButton a {
	width:40%;
	font-size: 15px;
}


.footer {
	width: 100%;
	height: 40px;
	position: relative;
	margin-top: 105px;
	margin-bottom:0;
	background: #e9ecef;
	text-align: center;
	padding-top: 5px;
	left: 0;
	bottom: 0;
}

.footer span {
	color: #f8f8f8;
	font-weight: 600;
		
}


.post-container {
	margin: 20px 20px 0 0;
	border: 1px solid gray;
	border-radius: 5px;
	overflow: auto;
	background-color: #e9ecef;
}



.post-thumb {
	float: left
}

	.post-thumb img {
		display: block;
	    width: 300px;
		height: 200px;
	}

.post-content {
	margin-left: 210px;
	padding-left:100px;
}

.post-title {
	font-weight: bold;
	padding-top:5px;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 2.5% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 40%; /* Could be more or less, depending on screen size */
}

.modal-content p {
	text-align: center;
	font-size: 20px;

}

.modal-content button {
	margin-right: 70px;
	margin-left: 70px;
	width: 150px;
	height: 40px;
	border-radius: 4px;
}

.close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 12px 16px 12px 16px;
}

.close:hover,.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

body {
	height: 100vh;
	margin: 0;
}

